mat-progress-spinner {
  margin: 20px auto;
  display: block;
}

.error-message {
  color: rgb(241, 118, 118);
  margin: 0 20px;
}

.log-table {
  margin: 25px;
}

.search-input {
  display: flex;
  margin: 25px;
  align-items: center;
  justify-content: center;
  width: 500px; /* Adjust the width as needed */
}

/* Add styles to the search input field */
.search-input-field {
  padding: 10px 20px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 2px lightgrey; /* Add rounded corners */
}
